/* Typographie */

@font-face {
    font-family: "Oswald";
    src: url("Oswald/Oswald-VariableFont_wght.ttf");
}


/* Page */

body {
    background: linear-gradient(to right, #35173f, #172f5c); /* Dégradé de couleur du fond de la page */
    color: white;
    font-family: "Oswald";
    margin: 0;
}


/* Haut de page */

header {
    background: linear-gradient(to right, #35173f, #172f5c); /* Dégradé de couleur du haut de page */
    padding: 80px 7% 35px 7%;
}


/* Titre principal */

h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 0;

    /* Met le texte et le logo sur la même ligne */
    display: flex;

    /* Aligne verticalement le texte et le logo au centre */
    align-items: center;

    /* Ajoute un espace de 20px entre le titre et le logo */
    gap: 20px;
}


/* Logo Atari ST */

h1 img {
    width: 300px;
}


/* Petit texte sous le titre */

header p {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 40px;
}


/* Remonte le sous-titre sous le logo sur les deux pages */

.header-analyse p,
.header-experience p {
    margin-top: -100px;
}


/* Tous les boutons */

.bouton,
.lien-bas a {
    color: #f510fd;
    border: 1px solid #77017b;
    padding: 10px;
    text-decoration: none;

    /* Garde les boutons sur la même ligne tout en pouvant modifier leur taille et leur espacement */
    display: inline-block;

    /* Rend les changements du bouton progressifs pendant 0,3 seconde */
    transition: 0.3s;
}


/* Espace entre les boutons du haut */

.bouton {
    margin-right: 20px;
}


/* Animation des boutons de la page */

.bouton:hover,
.lien-bas a:hover {

    /* Change la couleur du texte */
    color: #ffc0f0;

    /* Change la couleur du fond */
    background-color: #ff007b;

    /* Change la couleur de la bordure et l'épaissit */
    border: 3px solid #ffc0f0;

    /* Déplace le bouton de 4px vers le haut */
    transform: translateY(-4px);
}


/* Bouton de la page actuelle */

.actif {
    color: #ff007b;
    border-color: #f8739d;

    /* Met le texte en gras pour différencier la page actuelle */
    font-weight: bold;
}


/* Contenu */

main {
    width: 88%;
    margin: auto;
    padding-bottom: 60px;
}


/* Titres des parties */

h2 {
    color: #ff007b;
    font-size: 24px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 30px;
}


/* Texte */

p {
    font-size: 17px;
    line-height: 1.6;
}


/* Images */

main img {
    width: 350px;

    /* Arrondit les coins de l'image */
    border-radius: 10px;

    /* Ajoute un trait blanc autour de l'image */
    border: 3px solid white;
}


/* Image à gauche */

.image-gauche {

    /* Place l'image et le texte côte à côte */
    display: flex;

    /* Centre verticalement l'image et le texte */
    align-items: center;

    /* Ajoute un espace de 40px entre l'image et le texte */
    gap: 40px;

    margin-top: 30px;
    margin-bottom: 40px;
}


/* Image à droite */

.image-droite {

    /* Place l'image et le texte côte à côte */
    display: flex;

    /* Inverse l'ordre pour mettre l'image à droite et le texte à gauche */
    flex-direction: row-reverse;

    /* Centre verticalement l'image et le texte */
    align-items: center;

    /* Ajoute un espace de 40px entre l'image et le texte */
    gap: 40px;

    margin-top: 30px;
    margin-bottom: 40px;
}


/* Grande image des mains des héros */

.image-large {

    /* Centre l'image et sa légende */
    text-align: center;

    margin-top: 40px;
    margin-bottom: 20px;
}


/* Taille de la grande image des mains */

.image-large img {
    width: 90%;
}


/* Grande image de l'équipe */

.image-equipe {

    /* Centre l'image et sa légende */
    text-align: center;

    margin-top: 50px;
    margin-bottom: 60px;
}


/* Taille de l'image de l'équipe */

.image-equipe img {
    width: 60%;
}


/* Légendes */

.legende {
    color: #df4aa5;
    font-size: 15px;
}


/* Sources */

.sources a {
    color: #df4aa5;

    /* Chaque lien prend sa propre ligne */
    display: block;

    margin-bottom: 10px;
}


/* Bouton en bas de page */

.lien-bas {
    margin-top: 60px;
    margin-bottom: 30px;
}


/* Pied de page */

footer {
    background: linear-gradient(to right, #35173f, #172f5c); /* Dégradé de couleur du pied de page */
    text-align: center;
    padding: 25px;
}


footer p {
    font-size: 15px;
    color: #f2bff4;
}


/* Version Téléphone */

@media (max-width: 600px) {

    /* Haut de page */

    header {
        padding: 40px 6% 30px 6%;
    }


    /* Titre principal */

    h1 {
        font-size: 32px;

        /* Remplace le flex pour mettre le titre et le logo l'un sous l'autre */
        display: block;
    }


    /* Logo Atari ST */

    h1 img {
        width: 200px;

        /* Le logo se comporte comme un élément bloc */
        display: block;

        /* Centre le logo horizontalement */
        margin: auto;
    }


    /* Sous-titre */

    .header-analyse p,
    .header-experience p {
        margin-top: -50px;
        font-size: 18px;
    }


    /* Boutons du menu */

    .bouton {

        /* Permet aux boutons d'être côte à côte tout en gardant leur forme de bouton */
        display: inline-block;

        margin-right: 5px;
        margin-bottom: 15px;
        font-size: 14px;
    }


    /* Contenu */

    main {
        width: 88%;
    }


    /* Titres des parties */

    h2 {
        font-size: 22px;
    }


    /* Texte */

    p {
        font-size: 16px;
    }


    /* Images et textes */

    .image-gauche,
    .image-droite {

        /* Remplace le flex pour mettre l'image et le texte l'un sous l'autre */
        display: block;
    }


    /* Images adaptées à la largeur du téléphone */

    main img {
        width: 100%;
    }


    /* Grandes images adaptées à la largeur du téléphone */

    .image-large img,
    .image-equipe img {
        width: 100%;
    }
}